<div class="base">
  <div class="card-container c1">
    <h3>Marketing</h3>
    <input type="text" #searchMarketing (keyup)="0">
    <div class="members-container">
      <mat-card *ngFor="let user of searchUser(users,searchMarketing.value)">
        <p>{{user.name}}</p>
        <p>{{user.department}}</p>
        <p>{{experience(user)}}</p>
      </mat-card>
    </div>

  </div>
  <div class="card-container">
    <h3>Development</h3>
    <input type="text" #searchDevelopment (keyup)="0">)
    <div class="members-container">
      <mat-card *ngFor="let user of searchUser(usersDevelopment,searchDevelopment.value)">
        <p>{{user.name}}</p>
        <p>{{user.department}}</p>
        <p>{{experience(user)}}</p>
      </mat-card>
    </div>

  </div>
</div>


 <!-- <table>
  <tr>
    <td>
      <span><p>Marketing</p></span>
    </td>
    <td>
      <span><p>Development</p></span>
    </td>
  </tr>
  <tr>
    <td>
      <input type="text">
    </td>
    <td>
      <input type="text">
    </td>
  </tr>
  <tr>
    <td>
      <div class="members-container">
        <mat-card *ngFor="let user of users">
          hola mundo {{user}}
        </mat-card>
      </div>
    </td>
    <td>
      <div class="members-container">
        <mat-card *ngFor="let user of users">
          hola mundo {{user}}
        </mat-card>
      </div>
    </td>
  </tr>
 </table> -->
