:host{
  width: 100%;
  background-color: white;
  box-shadow: 4px 4px 10px grey;
  border-radius: 10px;
  padding: 2rem;

  .container-container{
    display: flex;

    .card-container{
      display: flex;
      flex-direction: column;
      width: 48.9%;
      &:first-child{
        border-right: 1px solid black;
        margin-right: 20px;
        padding-right: 20px;
      }

      input{
        width: 98%;
        height: 40px;
        padding: 0;
        padding-left: 15px;
        margin-bottom: 20px;
      }

      .members-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        justify-content: space-around;

        mat-card{
          text-align: center;
          position: relative;
          width: 290px;
          height: 250px;
          margin: 0 10px 10px 0;

          .img-container{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            margin-bottom: 15px;

            img{
              width: 130px;
              height: 160px;
              border-radius: 50%;
            }

            .experience{
              text-align: center;
              padding: 8px 8px;
              position: absolute;
              font-size: large;
              color: white;
              border-radius: 20px;
              margin: 0 0 10px 0

            }
          }

          .info{
            height: 20px;
            flex-wrap: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
