<div class="container" >
  <div class="buttons_container">
    <mat-button-toggle-group value="tabla">
      <mat-button-toggle (click)= "isTableVisible()" value="tabla">
        <i class="uil uil-table"></i>
      </mat-button-toggle>
      <mat-button-toggle (click)= "isCardVisible()">
        <i class="uil uil-browser"></i>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-raised-button  (click)="openDialog()">ADD ROW</button>
  </div>


    <app-users-table [users]="users"  *ngIf="tableVisivility"></app-users-table>

    <app-miniatures [users]="users" *ngIf="!tableVisivility"></app-miniatures>

</div>


