
table{
  margin: 2rem;
  width:86vw;
  height: 89%;
  border: 1px solid;
  border-collapse: collapse;

  th{
    border: 2px solid gray;
    height: 71px;
    padding-left: 1rem;
    font-weight: bold;
    background-color: rgb(73, 64, 64);
    color: white;
    text-align: left;
  }

  // .mat-column-OPTIONS{
  //   width: 100px
  // }

  tr{
    height: 75px;

    .name{
      width: 30%;
    }

    .email{
       width:35%
    }

    .department{
      width:25% ;
    }

    .options{
      width: 10%;
    }

    td{
      border: 2px solid gray;
      padding: 1rem;

      .edit-icon{
        display: none;
      }

      .delete-icon{
        display: none;
      }

      .done-icon{
        color: green;
      }

      .cancel-icon{
        color: red;
      }
    }
  }

  tr:hover{
    background-color: antiquewhite;

    td{
      border: 2px solid gray;
      padding: 1rem;

      .delete-icon{
        display: initial;
        color: red;
        cursor: pointer;
      }

      .edit-icon{
        display: initial;
        padding: 0 1rem;
        color: green;
      }
    }
  }

}


