<!--
<table mat-table  [dataSource]="users">
  <ng-container matColumnDef="NAME">
    <th mat-header-cell *matHeaderCellDef> NAME </th>
    <td  mat-cell *matCellDef="let element">
      <span>{{element.name}} </span>
      <span>hola </span>
    </td>
  </ng-container>
  <ng-container matColumnDef="E-MAIL">
    <th mat-header-cell *matHeaderCellDef> E-MAIL </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="DEPARTMENT">
    <th mat-header-cell *matHeaderCellDef> DEPARMENT </th>
    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
  </ng-container>

  <ng-container matColumnDef="OPTIONS">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell class="icons-colum" *matCellDef="let element" (click)="definirUser(element)">
      <i class="material-icons edit-icon">mode_edit</i>
      <i class="material-icons delete-icon">delete</i></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
</table> -->
<form [formGroup]="userForm">
  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>DEPARTMENT</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="!editStatus">
        <tr *ngFor="let member of users">
          <td class="name">
            <span>{{member.name}}</span>
          </td>

          <td class="email">
            <span>{{member.email}}</span>
          </td>

          <td class="department">
            <span>{{member.department}}</span>
          </td>

          <td class="options" *ngIf="!editStatus">
            <mat-icon class="material-icons edit-icon" (click) = "isEditActive(member)">create</mat-icon>
            <mat-icon  class="material-icons delete-icon"  mat-raised-button (click)="openDialog(member)">delete</mat-icon>
          </td>

        </tr>
    </tbody>

    <tbody *ngIf="editStatus">
      <tr *ngFor="let member of users">
        <td class="name" *ngIf="userEdit.id != member.id">
          <span>{{member.name}}</span>
        </td>
        <td *ngIf="userEdit.id == member.id">
          <input formControlName="name" type="text">
        </td>

        <td class="email" *ngIf="userEdit.id != member.id">
          <span>{{member.email}}</span>
        </td>
        <td class="department" *ngIf="userEdit.id == member.id">
          <input formControlName="email" type="text">
        </td>

        <td *ngIf="userEdit.id != member.id">
          <span>{{member.department}}</span>
        </td>
        <td *ngIf="userEdit.id == member.id && editStatus && editStatus">
          <select  formControlName="department">
            <option value="Marketing" selected>Marketing</option>
            <option value="Development">Development</option>
          </select>
        </td>

         <!-- If edit user is available-->
        <td class="options" *ngIf="editStatus && userEdit.id != member.id">

        </td>
        <td class="options" *ngIf="editStatus && userEdit.id == member.id">
          <mat-icon class="material-icons done-icon" (click) ="sendEdit(member)">done</mat-icon>
          <mat-icon class="material-icons cancel-icon" (click) ="isEditDisable()">clear</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</form>

